@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body{
	font-family: 'Spartan', sans-serif;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-image: url("/Img/ArenaIndependência.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Campo{
	margin: 15px 0px 15px 0px;
	width: 80%;
	padding: 15px;
	border: 5px solid white;
	background-color: #15aa15aa;
	border-radius: 25px;
}

.Campo h1{
	font-size: 5vmin;
	margin: 15px 0px;
	color: white;
	text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.Campo h2{
	font-size: 3vmin;
	margin: 15px 0px;
	color: white;
	text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.Campo label{
	font-size: 3vmin;
    font-weight: bold;
}

.Campo .varIn{
	text-align: center;
    font-size: 3vmin;
	font-weight: bold;
	background-color: white;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 15px;
}

.Campo .un{
	text-align: center;
}

.Campo .dVent{
	text-align: center;
}

.Campo button:hover{
	color: lightgrey;
	border-color: lightgrey;
}

.Campo button:active{
	background-color: green;
	box-shadow: 0 5px lightgray;
	border-color: black;
	color: black;
	transform: translateY(4px);
}

.Campo button{
	width: 50%;
	padding: 10px;
	font-size: 3vmin;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: green;
	border: 2px solid white;
	border-radius: 15px;
	box-shadow: 0 9px gray;
}

.Campo .info{
	margin: 30px 0px 0px;
	/* padding-top: 15px; */
	font-size: 1vmin;
}

.Campo .botao{
	padding: 15px;
	margin-top: 15px;
}

.Campo select{
	width: 100%;
	padding: 10px;
	font-size: 3vmin;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: black;
	border: 2px solid white;
	border-radius: 15px;
}

.imagem{
	max-height: 50vmin;
	max-width: 75vmin;
	margin-left: auto;
	margin-right: auto;
}

.AFCGrid{
    display: grid;
    margin: 15px 0px 0px;
    grid-auto-rows: 1fr; 
    grid-template-columns: 9fr 9fr 2fr; 
    grid-template-rows: 1fr; 
    gap: 15px 0px; 
    grid-template-areas: 
      ". . ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}